html {
    font-family: 'Cairo', sans-serif;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

main {
    width: 70%;
    height: 100vh;
    margin: auto;
    background-color:#2d3142;
    /* border-left: 1px solid #2d3142;
    border-right: 1px solid #2d3142; */
}

nav {
    position: fixed;
    top: 0;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color:white;
    -webkit-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    border-bottom: #2d3142 solid 2px;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 40px;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

.expand {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 2000px;
}

nav>a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #2d3142;
    background-color: white;
    margin-right: 1px;
}

/* nav>a:hover {
    transition: background-color 1s;
    background-color: #ef8354;
} */

#toggle-nav>img {
display: inline-block;
-o-object-fit: cover;
   object-fit: cover;
width: 50px;
height: 50px;
}

#left-nav {
    margin: 0px;
    height: 43px;
}

#left-nav>a>img {
    object-fit: cover;
    width: 50%;
    height: 50%;
    display: inline;
}

.nav-item {
    padding: 13px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-weight: bold;
    text-decoration: none;
    color: #2d3142;
    background-color: white;
    margin-right: 1px;
    overflow: hidden;
}

.nav-item:hover {
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
    background-color: #ef8354;
    text-decoration: underline;
}

#right-nav {
    padding: 10.6px;
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: rgb(105, 1, 1);
    margin: 0px;
}

#right-nav:hover {
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
    background-color: #ef8354;
    text-decoration: underline;
}

#mid-nav {
    display: none;
}

#toggle-nav {
    display: none;
}
#toggle-nav > span {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.main-heading {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    height: auto;
}

label {
    font-weight: bold;
}

p {
    font-size: 14px;
    padding: 20px;
    height: 80px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 1px;
}

/* Footer Styling  */

footer {
    background-color:rgb(105, 1, 1);
    color: white;
    height: 39px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

#right-footer>a {
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 700px) {
    main {
        width: 100%;
        background-color:#2d3142;
        border: none;
    }

    p {
        letter-spacing: normal;
    }

    nav {
        width: 700px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    nav > a {
        margin-right: 0px;
        margin-bottom: 2px;
    }

    #toggle-nav {
        display: initial;
    }

    nav > #mid-nav {
        display: initial;
    }

    nav > #left-nav {
        display: none

    }

    nav > .nav-item {
        display: none;
    }

    nav > .nav-shown {
        display: initial;
        margin: 0;
    }

    span {
        padding: 0 5px;
    }

    #contact-form {
        grid-template-columns: 4% 96%;
    }

    form {
        margin: 0;
    }

    form > span {
        display: none !important;
    }
    form > label {
        display: none;
    }

    form > input, select, textarea {
        max-width: 100%;
    }

} 

/* Styling for INDEX page starts here */
.hero-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 3px 4px black;
    height: 100%;
    background: rgba(0, 0, 0, 0.7)  url("../images/ml_generic_1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.hero-image2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 3px 4px black;
    height: 50%;
    background: rgba(0, 0, 0, 0.7)  url("../images/ml_classes.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.hero-image3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 3px 4px black;
    height: 50%;
    background: rgba(0, 0, 0, 0.7)  url("../images/ml_person_photo1_cropthis.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

#join-now {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack:distribute;
        justify-content:space-around;
    height: 100px;
}

#join-now>a {
    text-decoration: none;
    font-weight: bolder;
    background-color: #2d3142;
    color: white;
    font-size: 14px;
    padding: 20px;
    border: 1px solid #2d3142;
}

#join-now>a:hover {
    background-color: red;
    text-shadow: 3px 3px black;
    border: 1px solid red;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

/* Styling for CLUBS page starts here */
.clubs-image-short {
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    /* text-shadow: 2px 3px 4px black; */
    height: 9%;
    text-shadow: 2px 2px 2px black;
    background: rgba(0, 0, 0, 0.7)  url(../images/ml_clubs.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.clubs-image {
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    /* text-shadow: 2px 3px 4px black; */
    height: 50%;
    text-shadow: 2px 2px 2px black;
    background: rgba(0, 0, 0, 0.7)  url(../images/ml_clubs.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.clubs-selection {
    background-color: white;
    padding: 20px;
}

.filler {
    background-color: white;
    height: 30px;
    top: -30px;
    left: 0px;
}

.club-detail {
    display: block;
}

/* displays as block on mobile, but as grid on desktop */
@media screen and (min-width: 700px) {
    .club-detail {
        display: grid;
        grid-template-rows: 98%;
        grid-template-columns: 50% 50%;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -ms-flex-line-pack: center;
            align-content: center;
    }

    .club-detail>img {
        max-width: 500px;
        height: auto;
        padding: 10px;
    }
}

.club-detail>img {
    width: 100%;
    height: auto;
}

/* Styling for CLASSES page starts here */
.class-image {
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    /* text-shadow: 2px 3px 4px black; */
    height: 80%;
    text-shadow: 2px 2px 2px black;
    background: rgba(0, 0, 0, 0.7)  url(../images/ml_person_photo2_cropthis.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.class-image2 {
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    height: 40%;
    text-shadow: 2px 2px 2px black;
    background: rgba(0, 0, 0, 0.7)  url(../images/ml_boxing.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

#class-select {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: auto;
    background-color: white;
    color: black;
}

#class-select>p {
    text-shadow: none;
}

#class-select>a {
    height: 20%;
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
    background-color: #2d3142;
    color: white;
    width: 10%;
    padding: 20px;
    border: 1px solid #2d3142;
}

#class-select>a:hover {
    background-color:#ef8354;
    text-shadow: 1px 1px 1px black;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

ul {
    list-style: none;
    padding: 10px;
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Styling for JOIN page starts here */
#main-join {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

form {
    max-width: 100%;
    padding: 20px;
    margin: 20px;
    display: grid;
    grid-template-columns: 0.3fr auto 1fr;
    gap: 10px;
    color: white;
}

form .validation-error {
    grid-column-start: 1;
    grid-column-end: 4;
}

input:focus {
    background-color: #ebc4b3;
}

input:invalid {
    border: red 2px solid;
}

.validation-error {
    display: none;
    color: red;
    text-shadow: 1px 1px 1px black;
}

input:invalid + .validation-error {
    display: initial;
}

form > img {
    height: 1em;
}

select {
    height: 2em;
}

.hover-help {
    color: white;
    border: black solid 3px;
}
.hover-help-content {
    width: 600px;
    height: 400px;
    background-color: lightcoral;
    display: none;
}

.hover-help:hover + .hover-help-content, .hover-help-content:hover {
    display: block;
}

#join-join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack:distribute;
        justify-content:space-around;
    height: auto;
    padding-bottom: 110px;
}

#join-join>a {
    text-decoration: none;
    font-weight: bolder;
    background: -webkit-gradient(linear, left top, left bottom, from(#ef8354), to(red));
    background: -o-linear-gradient(#ef8354, red);
    background: linear-gradient(#ef8354, red);
    color: white;
    font-size: 14px;
    padding: 7px 100px;
    border: 1px solid #2d3142;
}

#join-join>a:hover {
    background-color: red;
    text-shadow: 3px 3px black;
    border: 1px solid red;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

/* Styling for ABOUT page starts here */
.maurice1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 3px 4px black;
    height: 100%;
    background: rgba(0, 0, 0, 0.7)  url("../images/ml_maurice1.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.maurice2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 3px 4px black;
    height: 60%;
    background: rgba(0, 0, 0, 0.7)  url("../images/ml_about_us.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}